.filterContainer {
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: end;
  padding: 10px;
}

.filterSelect {
  border-radius: 5px;
  background-color: white;
  color: black;
  margin-left: 10px;
}